[submodule "themes/hugo-hero"]
	path = themes/hugo-hero
	url = https://github.com/zerostaticthemes/hugo-hero-theme.git
[submodule "themes/hugo-minimal-black"]
	path = themes/hugo-minimal-black
	url = https://gitlab.com/jimchr12/hugo-minimal-black.git
