// Font
@import url('https://fonts.googleapis.com/css?family=Lato:400|Open+Sans:400,700');

// Bootstrap
@import 'bootstrap-variables';
@import 'bootstrap/bootstrap';

// Libraries
@import 'libraries/hamburgers/hamburgers';

// Components
@import 'components/reset';
@import 'components/page';
@import 'components/header';
@import 'components/footer';
@import 'components/sub-footer';
@import 'components/logo';
@import 'components/main-menu';
@import 'components/main-menu-mobile';
@import 'components/social';
@import 'components/hamburger';
@import 'components/buttons';
@import 'components/title';
@import 'components/content';
@import 'components/intro';
@import 'components/strip';
@import 'components/whitebox';
@import 'components/feature';
@import 'components/hero-image';
@import 'components/bg';

// Pages
@import 'pages/services/page-services-list';
@import 'pages/services/page-services-single';
@import 'pages/services/service-summary';
@import 'pages/work/work-summary';
@import 'pages/work/page-work-single';

// Display breakpoints for DEV
// body:after {
//   color: #000000;
//   font-size: 12px;
//   padding: 5px;
//   font-weight: bold;
//   right: 10px;
//   position: fixed;
//   text-align: center;
//   text-transform: uppercase;
//   bottom: 10px;
//   width: 200px;
//   z-index: 9999;
//   border: solid 1px #000000;
//   @each $name, $value in $grid-breakpoints {
//     @include media-breakpoint-up($name) {
//       content: "#{$name} - min-width: #{$value}";
//     }
//   }
// }

// Brand Overrides
.custom-hero {
    background-color: $primary;
    background-size: cover;
    background-position: center;
    padding: 120px 0;
    color: white;
}

.header {
  border-bottom: 2px solid $primary;
}

.footer {
  background: $dark;
  color: $white;
  padding: 3rem 0;
  
  a {
    color: $white;
    &:hover { color: $secondary; }
  }
}

.sub-footer {
  background: darken($dark, 5%); // Slightly darker than the footer
  color: rgba($white, 0.6);
}

// Hero Component Overrides
.hero-image {
  background-color: $primary;
  background-position: center;
  background-size: cover;
  padding: 120px 0;
  color: $white;
  position: relative;
  
  // This fix prevents the "over-colorised" look 
  // by ensuring the background image is on top of the color
  background-blend-mode: multiply; 
  opacity: 1.0; 

  h1 {
    margin-bottom: 40px;
  }

  .hero-text {
    font-size: 1.5rem; // Hardware for the quantum advantag eand beyond
    font-weight: 300;
    opacity: 0.7;
  }
}